*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Fredoka;
}

body{
    background-color: #F8F1E5;
}

.headcontainer{
    width: 100vw;
    background-color: #0f888e;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 3px solid black;
    color: #FAF3E0;
}

header img{
    width: 8em;
    padding: 10px;
}

header a{
    text-decoration: none;   
}

header a:visited{
    color: black;
}

.navbarcontainer{
    display: flex;
}

.navbarcontainer .navbar{
    text-align:center;
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5em;
}

.navbarcontainer .navbar:hover{
    background-color: #E3B23C;
    color: #4A3C31;
}

#currentpage{
    background-color: #E3B23C;
    color: #4A3C31;
}

.space{
    cursor:default;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-right: .5em;
    margin-left: .5em;
    font-size: 1.5em;
}

#spacer{
    font-size: 1.5em;
    cursor: default;
}
#spacer i{
    padding: 5px;
    color: #FAF3E0;
    font-size: 1em;
}

#spacer i:hover{
    background-color: #E3B23C;
    border-radius: 10px;
    color: #4A3C31;
}

.studiodesc{
    text-align: center;
    font-family: Fredoka;
    color: #4A3C31;
    font-weight: 700;
    font-size: 3em;
}

.splitter{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

.imagecarousel{
    margin-top: 3.5rem;
    position: relative;
    height: auto;
    display: inline-block;
}

.imagecarousel img{
    width: 50vw;
    border: 3px solid black;
    border-radius: 15px;
}

.imagecarousel:hover .imagecontrols{
    visibility: visible;
}

.imagearrow{
    background-color: #0D8991;
    color: black;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 1.5em;
    padding: .5em;
    display: block;
}

.imagearrow:hover{
    color: #FAF3E0;
}

.carradio{
    display: block;
    background-color: #FAF3E0;
    accent-color: #119DA4;
    margin: .3em;
}

.carimages{
    z-index: 2;
}

.imagecontrols{
    display: flex;
    position: relative;
    justify-content: center;
    visibility: hidden;
    transform: translateY(-5em);
}

.radiocontainer{
    display: flex;
    width: 10em;
    justify-content: center;
    align-items: center;
}

.blog{
    width: 20em;
    height: 25em;
    display: flex;
    border-radius: 15px;
    border: 2px solid black;
    flex-direction:column;
    justify-content: space-around;
    padding: 10px;
}