*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Fredoka;
}

body{
    background-color: #f7e7cb;
}

.headcontainer{
    width: 100vw;
    background-color: #0f888e;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    color: #FAF3E0;
}

header img{
    width: 8em;
    padding: 10px;
}

header a{
    text-decoration: none;   
}

footer a{
    text-decoration: none;
}

header a:visited{
    color: black;
}

footer a:visited{
    color: black;
}

.navbarcontainer{
    display: flex;
}

.navbarcontainer .navbar{
    text-align:center;
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5em;
}

.navbarcontainer .navbar:hover{
    background-color: #E3B23C;
    color: #4A3C31;
}

#currentpage{
    background-color: #E3B23C;
    color: #4A3C31;
}

.space{
    cursor:default;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-right: .5em;
    margin-left: .5em;
    font-size: 1.5em;
}

#spacer{
    font-size: 1.5em;
    cursor: default;
}
#spacer i{
    padding: 5px;
    color: #FAF3E0;
    font-size: 1em;
}

#spacer i:hover{
    background-color: #E3B23C;
    border-radius: 10px;
    color: #4A3C31;
}

.studiodesc{
    text-align: center;
    font-family: Fredoka;
    color: #4A3C31;
    font-weight: 700;
    font-size: 3em;
}

.splitter{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

.imagecarousel{
    margin-top: 3.5rem;
    position: relative;
    height: auto;
    display: inline-block;
}

.imagecarousel img{
    width: 45vw;
    border: 3px solid black;
    border-radius: 15px;
}

.imagecarousel:hover .imagecontrols{
    visibility: visible;
}

.imagearrow{
    background-color: #0D8991;
    color: #FAF3E0;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 1.5em;
    padding: .5em;
    display: block;
    cursor: pointer;
}

.imagearrow:hover{
    color: #4A3C31;
    background-color: #E3B23C;
}

.carradio{
    display: block;
    background-color: #FAF3E0;
    accent-color: #119DA4;
    margin: .3em;
}

.carimages{
    z-index: 2;
}

.imagecontrols{
    display: flex;
    position: relative;
    justify-content: center;
    visibility: hidden;
    transform: translateY(-5em);
}

.radiocontainer{
    display: flex;
    width: 10em;
    justify-content: center;
    align-items: center;
}

.blog{
    width: 20em;
    height: 25em;
    border-radius: 15px;
    border: 2px solid black;
}

.post{
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 50%;
    font-size: 1.5em;
    border-bottom: 2px solid black;
    background-color: #f1dab6;
}

.post:hover{
    background-color: #efcf9e;
    cursor: pointer;
}

.event{
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 50%;
    font-size: 1.5em;
    background-color: #f1dab6;
}

.event:hover{
    background-color: #efcf9e;
    cursor: pointer;
}

.contact{
    width: 20em;
    height: 25em;
    border-radius: 15px;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #f1dab6;
}

.contact p{
    font-size: 1.5em;
    padding: 20px;
}

.contact button{
    width: 50%;
    height: 3em;
    border-radius: 8px;
    background-color: #0f888e;
    color: #FAF3E0;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.contact button:hover{
    background-color: #E3B23C;
    color: #4A3C31;
}

.gamelogos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.crabitatlogo{
    width: 20em;
}

.crabitatlogo:hover{
    cursor: pointer;
}
.crabitatlogo:hover ~ .gamedesc{
    display: block;
}

.gamedesc{
    width: 50em;
    height: 25em;
    border-radius: 15px;
    border: 3px solid black;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    position: absolute;
    text-align: right;
}

.gamedesc:hover{
    display: block;
    cursor: pointer;
}

.box{
    position: relative;
    float: left;
    width: 20em;
    padding: 15px;
    border-radius: 25px;
}

.desctitle{
    color: #FAF3E0;
    font-size: 2em;
    text-align: center;
    padding-top: 2em;
}

.descheading{
    color: #FAF3E0;
    padding: .8em;
    display: inline-block;
    margin-right: 3.5em;
}

.desctext{
    text-align: center;
    color: #FAF3E0;
    padding-top: 2em;
    font-size: 1.5em;
}

.footcontainer{
    background-color: #0D8991;
    width: 100vw;
    height: 20em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.socials{
    padding: 5px;
    font-size: 2em;
    text-align: center;
}

.socials h3{
    font-size: 1em;
}

.socials i{
    padding: 5px;
    color: #FAF3E0;
    font-size: 1em;
}

.socials i:hover{
    background-color: #E3B23C;
    border-radius: 10px;
    color: #4A3C31;
}

.sitemap li{
    font-size: 1.3em;
    color: #FAF3E0;
}

.sitemap ul{
    list-style-type: none;
}

.sitemap #games{
    margin-left: 1em;
}

.sitemap li:hover{
    cursor: pointer;
    color: #4A3C31;
}

.newsletter{
    width: 25em;
    height: auto;
    background-color: #FAF3E0;
    border-radius: 15px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5em;
}

.newsletter h2{
    display: inline-block;
}

.footcontainer{
    color: #4A3C31;
}

.newsletter input{
    width: 25em;
    height: 3em;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.newsletter button{
    width: 10em;
    height: 3em;
    color: #FAF3E0;
    background-color: #0D8991;
    font-size: .6em;
    border-radius: 10px;
    cursor: pointer;
}

.newsletter button:hover{
    background-color: #E3B23C;
    color: #4A3C31;
}

.fa-solid.fa-turn-down{
    font-size: 1rem;
}

#navigate{
    font-size: 2em;
}